---
import LGsus from "@@/download.webp";
---

<div
  class="mt-15 xl:mt-0 lg:mt-5 rounded-full flex items-center justify-center size-auto overflow-hidden shadow-[0_0_10px_rgba(0,0,0,0.75)]"
>
  <img
    src={LGsus.src}
    alt="LGsus"
    class="size-20 xl:size-36 rounded-full object-cover object-top transition-all duration-500 ease-in-out hover:scale-110"
    transition:name="img-LGsus"
  />
</div>
