---
import Layout from "../layouts/Layout.astro";
import Animation from "@components/Animacion/Animation.astro";

const description =
  "LGsus Mozo is a website dedicated to providing information and resources about the LGsus Mozo project. It offers insights into the project's goals, features, and updates, serving as a hub for users and developers interested in LGsus Mozo.";
---

<Layout title="LGsus Mozo" description={description}>
  <Animation slot="animacion" />
  <div slot="main" class="w-full h-[100vh] bg-red-500">hola</div>
</Layout>
